@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #9ACBD0;
}

#tentacles {
    width: 100px;
}

.header {
    display: flex;
    background-color: #006A71;
    padding: 2%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    justify-content: center;
}

.header-text {
    color: white;
    font-size: 45px;
    margin-left: 1rem;
}

.stats-container {
    display: flex;
    align-items: center;
}

.stats-card {
    background-color: #F2EFE7;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

.stats-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #48A6A7;
}

#top-games .stats-card{
    height: 17vh;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #F2EFE7;
}

.game-card {
    background-color: #F2EFE7;
    padding: 1.5%;
    margin: 2%;
    width: 300px;
    text-align: left;
    border-radius: 10px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 20px #48A6A7;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    cursor: pointer;
    background-color: #F2EFE7;
}

button:hover {
    background-color: rgb(206, 206, 206);
}